@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Rowdies:wght@300&display=swap');

body {
  margin: 0 auto;
  max-width: 600px;
  background: url('https://i.imgur.com/v7UQh3k.jpg');
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Rowdies", cursive;
}
header {
  background: url('https://i.imgur.com/YwqUa7z.jpg');
  background-size: cover;
  color: white;
  max-width: 800px;
  max-height: 500px;
  margin: auto;
  border: solid black;
  border-width: 10px;
  border-radius: 20px;
  text-align: center;
}
div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
h1 {
  text-align: center;
  font-size: 75px;
  color: #aaaaaa;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 0px 0 70px 0;
}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  width: 96.7%;
  padding: 10px;
  line-height: 15px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
p li {
  padding: 0 5px 0 5px;
}
a {
  color: white;
  font-size: 20px;
}
.small {
  color: rgb(0, 110, 255);
  font-size: 14px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid black;
  border-radius: 20px;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
.thin {
  padding: 6px;
}
li {
  display: inline;
  padding: 0 10px 0 10px;
}
small {
  opacity: 0;
  font-size: 12px;
  /*line-height: 12px;*/
}
.show-description p {
  height: 150px;
}
.show-description small {
  opacity: 1;
}
.role {
  float: right;
}
.first {
  background-image: url("https://i.imgur.com/v7UQh3k.jpg");
}
.second {
  background-image: url("https://i.imgur.com/7wDsw9V.png");
}
.third {
  background-image: url("https://i.imgur.com/KBnHxI0.jpg");
}
.fourth {
  background-image: url("https://i.imgur.com/YwqUa7z.jpg");
}
.fifth {
  background-image: url("https://i.imgur.com/onqGLa4.jpg");
  background-position: left 10%;
}
small a {
  color: rgb(0, 110, 255);
  font-size: 14px;
}
iframe {
  display: block;
  margin: 20px auto;
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  /*
  p {
    line-height: 5px;
  }
  */
  small {
    font-size: 12px;
  }
  a {
    font-size: 16px;
  }
  .small {
    font-size: 12px;
  }
  iframe {
    max-width: 350px;
  }
}