@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Rowdies:wght@300&display=swap");

html {
  font-family: "Rowdies", cursive;
}

/* Body */
body {
  background: url("https://i.imgur.com/v7UQh3k.jpg");
  background-color: white;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
header {
  border-bottom: 0.3125rem solid black; /*5px solid black;*/
  background: url("https://i.imgur.com/YwqUa7z.jpg");
  background-size: cover;
  background-position: 0% 20%;
  color: white;
}
header > h1 {
  margin: 0;
  padding-top: 0.3125rem; /*5px;*/
  text-align: center;
  font-size: 4.6875rem; /*75px;*/
  color: #aaaaaa;
}
header > h2 {
  margin-bottom: 1.25rem; /*20px;*/
  text-align: center;
  color: #bbbbbb;
}

/* Footer */
footer {
  text-align: center;
  color: white;
}
footer > address {
  font-style: normal;
}
footer a {
  font-size: large;
}

/*
* Navigation
* > Nav
* > #main-nav
*/
nav {
  height: 2.5rem; /*40px;*/
  position: sticky;
  top: 3.125rem;
  z-index: 9;
  text-align: center;
}
nav a {
  padding: 0.3125rem; /*5px;*/
  border-radius: 0.75rem; /*12px;*/
  background-color: rgba(0, 0, 0, 0.5);
}
nav a:hover,
#main-nav a:hover {
  background-color: white;
  color: black;
}
nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
}
nav li {
  padding: 0;
  display: inline;
  line-height: 2.5rem; /*40px;*/ /* Set equal to <nav> HEIGHT to center elements */
}

#main-nav {
  height: 3.125rem; /*50px;*/
  top: 0;
  /*transition: opacity .3s ease-in-out;*/
}
#main-nav a {
  font-size: larger;
  color: white;
}
#main-nav li {
  line-height: 3.125rem; /*50px;*/ /* Set equal to <nav id="main-nav"> HEIGHT to center elements */
}
/*
#main-nav.sticky {
  opacity: .5;
}
*/

/* Slider */
.slider {
  width: 85%;
  height: 12.5rem; /*200px;*/
  margin: 2.5rem 0; /*40px 0;*/
  border-radius: 0.75rem; /*12px;*/
  background-size: cover;
  position: relative;
  left: 7.5%; /* Set equal to 1/2 WIDTH to center elements */
}
.slider small {
  font-size: small;
  opacity: 0;
}
.slider p {
  box-sizing: border-box;
  width: 100%;
  height: 20%;

  padding: 0.625rem; /*10px;*/
  bottom: 0;
  margin: 0;

  background: black;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );

  line-height: 0.9375rem; /*15px;*/
  text-align: left;
  position: absolute;
  color: rgba(255, 255, 255, 1);

  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
}

.slider.show-description p {
  height: 80%;
}
.slider.show-description * {
  opacity: 1;
  pointer-events: auto;
}

/* Links (non-nav) */
a {
  color: rgb(0, 110, 255);
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a:hover {
  color: orange;
}

/* Media */
iframe {
  margin: 1.25rem auto; /*20px auto;*/
  display: block;
  border: 0;
}
.gif-container img {
  width: 9.375rem; /*150px;*/
  height: 9.375rem; /*150px;*/
  margin-top: 1.25rem; /*20px;*/
  border: 0.3125rem solid black; /*5px solid black;*/
  border-radius: 1.25rem; /*20px;*/
  z-index: 1;
}

/* ID's */
/*
#faydra {
}  
#genzer {
}
#kili {
}
#madrik {
}  
#yergov {
}
*/

/* Buttons */
button,
input[type="button"] {
  padding: 0.625rem 0.9375rem; /*10px 15px;*/
  z-index: 0;
  border-radius: 0.75rem; /*12px;*/

  color: white;
  background-color: black;
}
button:hover,
input[type="button"]:hover {
  color: black;
  background-color: white;
}
button:active,
input[type="button"]:active {
  color: white;
  background-color: black;
}

/* Backgrounds */
.first {
  background-image: url("https://i.imgur.com/v7UQh3k.jpg");
}
.second {
  background-image: url("https://i.imgur.com/7wDsw9V.png");
}
.third {
  background-image: url("https://i.imgur.com/KBnHxI0.jpg");
}
.fourth {
  background-image: url("https://i.imgur.com/YwqUa7z.jpg");
}
.fifth {
  background-image: url("https://i.imgur.com/onqGLa4.jpg");
  background-position: left 10%;
}

/* Containers */
.audio-container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.gif-container {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Modifiers */
.role {
  float: right;
}
.thin {
  padding: 0.375rem; /*6px;*/
}

/* Media Queries */
@media (max-width: 500px) {
  /* Content */
  .gif-container {
    display: flex;
    justify-content: right;
    padding-top: 4.6875rem; /*75px;*/
  }

  /* Text */
  h1 {
    font-size: 3.125rem; /*50px;*/
    line-height: 2.5rem; /*40px;*/
  }
  h2 {
    font-size: 1.25rem; /*20px;*/
    /*margin: 20px 0 30px;*/
  }
  small {
    font-size: smaller;
  }

  /* Links */
  a {
    font-size: medium;
  }
  a.small {
    font-size: small;
  }

  /* Media */
  iframe {
    max-width: 21.875rem; /*350px;*/
  }
  .gif-container img {
    width: 4.6875rem; /*75px;*/
    height: 4.6875rem; /*75px;*/
    margin-top: 1.25rem; /*20px;*/
    border-width: 0.0625rem; /*1px;*/
  }
}
