/* Universal */
html {
  font-family: "Rowdies", cursive;
  font-weight: lighter;
}

/* Body */
body {
  background: url("../../resources/images/Faydra_Large.png");
  background-color: white;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header */
header {
  border-bottom: 0.3125rem solid black;
  background: url("../../resources/images/Madrik_Large.png");
  background-size: cover;
  background-position: 0% 30%;
  color: white;
}

header > h1 {
  margin: 0;
  text-align: center;
  font-size: 4.6875rem;
  color: #aaaaaa;
}

header > h2 {
  margin: 0 0 1.5rem;
  text-align: center;
  color: #bbbbbb;
}

/* Footer */
footer {
  text-align: center;
  color: white;
}

footer > address {
  font-style: normal;
  font-size: smaller;
}

footer a {
  font-size: larger;
}

/* Nav */
nav {
  height: 2.25rem;
  position: sticky;
  z-index: 9;
  text-align: center;
}

nav a:not(.buy_button),
nav button {
  padding: 0.3125rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  margin: 0 5px;
}

nav a,
nav button {
  transition: all 0.5s;
}

nav a:not(.buy_button):hover {
  background-color: black;
}

nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

nav li {
  padding: 0;
  display: inline;
  line-height: 2.25rem; /** Set equal to HEIGHT of <nav> to center elements **/
}

nav li img {
  position: relative;
  top: 5px;
}

#nav-main li img {
  top: 3px;
  height: 20px;
}

.tall-icon {
  top: 7px;
}

/* Main-Nav */
#nav-main {
  height: 3rem;
  top: 0;
}

#nav-main a,
#nav-main button {
  font-size: larger;
  color: white;
}

#nav-main li {
  line-height: 3rem; /** Set equal to HEIGHT of #main-nav to center elements **/
}

/* Social Nav */
#nav-social a {
  background-color: transparent;
}

/* Text */
small {
  font-size: small;
}

.clr--white * {
  color: white;
}

/* Modifiers */
.centered {
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
}

.centered * {
  margin: 0 auto;
  max-width: 80%;
}

.img-centered {
  text-align: center;
}

.img-centered * {
  max-width: 60%;
}

/* Slider */
.slider {
  width: 85%;
  height: 12.5rem;
  margin: 2.5rem 0;
  border-radius: 0.75rem;
  background-size: cover;
  position: relative;
  left: 7.5%; /** Set equal to 1/2 WIDTH to center elements **/
}

.slider small {
  opacity: 0;
  pointer-events: none;
}

.slider p {
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  padding: 1rem 4rem;
  bottom: 0;
  margin: 0;
  line-height: 0.9375rem;
  text-align: left;
  position: absolute;
  color: white;
}

/* Role */
.slider .role {
  position: absolute;
  right: 10%;
  color: white;
  line-height: 1.2rem;
  font-style: italic;
}

/* Links (non-nav) */
a {
  color: rgb(0, 110, 255);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  color: orange;
}

/* Media */
iframe {
  width: 560px;
  height: 315px;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  border: 5px dashed rgba(255, 0, 0, 0.5);
}

.gif-container img {
  width: 9.375rem;
  height: 9.375rem;
  margin-top: 1.25rem;
  border: 0.3125rem solid white;
  border-radius: 1.25rem;
  z-index: 1;
}

/* Buttons */
button {
  padding: 0.625rem 0.9375rem;
  z-index: 0;
  border-width: 0;
  border-radius: 0.75rem;
  color: white;
  background-color: black;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

/*
button:active {
  background-color: black;
}
*/
button.buy_button {
  background-color: rgba(255, 0, 0, 0.6);
}

button.buy_button:hover {
  background-color: red;
}

/* Backgrounds */
.bg-grad--black,
.slider p {
  background: black;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.4));
  background: -webkit-linear-gradient(bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.4));
}

.bg-img--faydra {
  background-image: url("../../resources/images/Faydra_Large.png");
}

.bg-img--genzer {
  background-image: url("../../resources/images/Genzer_Large.png");
}

.bg-img--kili {
  background-image: url("../../resources/images/Kili_Large.png");
}

.bg-img--madrik {
  background-image: url("../../resources/images/Madrik_Large.png");
}

.bg-img--yergov {
  background-image: url("../../resources/images/Yergov_Large.png");
  background-position: left 10%;
}

/* Containers */
.audio-container,
.gif-container {
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.audio-container {
  justify-content: center;
}

.gif-container {
  justify-content: right;
}

/* Transitions */
/*.half-sec-ease,*/
.slider p,
.audio-container,
.gif-container,
nav ul {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*.one-sec-ease,*/
.slider .role {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

/*.half-sec-out,*/
.slide-from-left,
.slide-from-right {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}

/*.one-sec-out,*/
.fade-in {
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}

/* Slide-from-side */
.slide-from-left,
.slide-from-right {
  position: relative;
}

.slide-from-left {
  left: -90%;
}

.page-loaded .slide-from-left {
  left: 0;
}

.slide-from-right {
  right: -90%;
}

.page-loaded .slide-from-right {
  right: 0;
}

/* Fade-in */
.fade-in {
  opacity: 0;
}

.page-loaded .fade-in {
  opacity: 1;
}

/* Media Queries */
/** Desktop **/
@media only screen and (min-width: 701px) {
  /* Slider */
  .slider:hover p {
    height: 80%;
    overflow-y: hidden;
  }
  .slider:hover * {
    opacity: 1;
    pointer-events: auto;
  }
  .slider:hover .role {
    right: 30%;
    color: yellow;
  }
  .slider:hover .role::before {
    content: "\a... ";
    white-space: pre;
  }
  .slider:hover small::before {
    content: "\a";
    white-space: pre;
  }
  /* Backgrounds */
  .slider:hover p {
    background: rgba(0, 0, 0, 0.7);
  }
}
/** Mobile **/
@media only screen and (max-width: 700px) {
  /* Text */
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .role {
    font-size: smaller;
    right: 10% !important; /* Fixes conflict with ".slider:hover .role" */
  }
  /* Nav */
  #nav-main a {
    margin: 0;
  }
  #nav-main li img {
    height: 15px;
  }
  #nav-main button {
    line-height: 1;
  }
  /* Links */
  #nav-main a, #nav-main button {
    font-size: medium;
  }
  .gif-container {
    /*justify-content: right;*/
    padding-top: 4.6875rem;
  }
  .gif-container img {
    width: 4.6875rem;
    height: 4.6875rem;
    margin-top: 1.25rem;
    border-width: 0.0625rem;
  }
  /* Slider */
  .slider p {
    height: 30%;
    padding: 0.625rem;
  }
  .slider small::before,
  .slider .role::before {
    content: "\a";
    white-space: pre;
  }
  .slider.show-description .role::before {
    content: "\a...";
    white-space: pre;
  }
  .slider.show-description p {
    height: 80%;
    overflow-y: scroll;
  }
  .slider.show-description .role {
    right: 1%;
    color: yellow;
  }
  .slider.show-description * {
    opacity: 1;
    pointer-events: auto;
  }
}

/*# sourceMappingURL=style.css.map */
